/*
STYLE SHEET FOR datiaperti.it
Name: main-single-columns.css
Created by Luigi Selmi January 20th 2013
ToC
1. defaults
2. structure
3. links and navigation
4. fonts
5. images
Notes:
This stylesheet has two main elements, a wrapper one and a column within it. The single column contains elements one on top of the other.

*/
/* --------- 1. defaults --------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
}

body {
	font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background: #D3D3D3;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

/*
The wrapper element contains all the elements of the page. All other elements must be put within the wrapper
*/
#wrapper {
	border-style: solid;
	border-width: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #D3D3D3;;
	width: 80%;
}

/* --------- 2. structure --------- */
#top {
	margin: 0px;
	background-color: white;
	border-style:solid;
	border-width: 0px;
	padding-left: 5%;
	padding-right: 5%;
}

#title {
	padding: 0;
	margin: 0;
	border: 0px solid black;
}

#logo {
	display: inline-block;
  margin-left: auto;
  margin-right: 20px;
	border: 0px solid black;
}

#name {
	display: inline-block;
	margin-top: 10px;
	font-size: 12em;
	border: 0px solid black;
}

#language_selector {
    	text-align: right;
			font-size: 2.0em;
}

#mission {
	font-size: 1.5em;
	text-align: left;
}

#quote {
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left: 200px;
	text-align: left;
}

div.menu {
	margin: 0px;
	padding: 30px;
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
}

div.menu ul {
	float: left;
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

div.menu li {
	display: inline;
}

div.menu a {
	float: left;
	width: 8em;
	text-decoration: none;
	color: silver;
	/*background-color: purple;*/
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
}

div.menu a:hover {
	/*background-color: silver;*/
	color: red;
}

#mainColumn  {
	float: left;
	margin: 0px;
	border-style:solid;
	border-width: 0px;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
	background-color: #DEDEDE;
}

#projects {
	margin: 0px;
	padding-top:25px;
	border-style:solid;
	border-width: 0px
}

#projects p{
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: left;
}

#projects td{
  padding: 10px 10px;
	font-size: 1.5em;
}

#projects li{
  margin-left: 20px;
	font-size: 1.5em;
}

#footer {
	text-align: center;
	font-size: 1.5em;
	margin-top: 5%;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	background-color: #DEDEDE;
}
